<%- include('header'); %>
<div class="main">
    <div class="list-wrap" id="show-wrap">
    	<% if(code){ %>
    		<h1 class="text-center">『 <%= data.title %> 』</h1>
	    	<div class="ui fluid card block-view">
		        <div class="content">
		            <p><%- data.content %></p>
		        </div>

				<div class="extra content">
					
					<a href="/u/<%- data.userid %>">
		        		<i class="icon write"></i><%- data.user.username %>
		        	</a>
		        	<a href="javascript:;">
		            	<i class="history icon"></i> <%- data.createdAt %>
		            </a>
		        	
		        	<a class="ui horizontal label">知识共享：{{cc['<%- data.cc %>'] || '无'}}</a>
		        	
		        	<a class="right floated created" href="javascript:;" @click="qrcode()">
		        		<i class="icon share alternate"></i>分享
		        	</a>
		        </div>
			</div>
			<div class="ui by-block content">

				<div class="ui buttons mini">
					<button class="ui button mini">浏览 ( <%- data.views+1 %> )</button>
					<div class="or"></div>
					<button class="ui positive button mini" @click="likes('<%- id %>')">
						欢喜 ( {{like}} )
					</button>
				</div>
				
				<a href="/u/<%- data.userid %>" class="pull-right teal basic ui button mini" data-tooltip="联系方式：<%- data.user.email %>">作者专栏</a>
			</div>
			<div class="ui small yellow message" v-if="message!=''">
		    	<i class="close icon" @click="closeMsg()"></i>
		        <div v-html="message"></div>
		    </div>
			<div class="ui comments" id="comments-box">
			    <h4 class="ui horizontal header divider">
				    <i class="comments icon"></i>
				    评论
				</h4>
			    <div class="comment" v-for="item in comments">
			        <a class="avatar">
			            <img src="http://www.cyzone.cn/uploadfile/avatar/000/35/35/31_avatar_middle.jpg">
			        </a>
			        <div class="content">
			            <a class="author">{{item.user.username}}</a>
			            <div class="metadata">
			                <span class="date">留言于 {{item.date}}</span>
			            </div>
			            <div class="text">
			                {{item.comment}}
			            </div>
			        </div>
			    </div>
			    <form class="ui reply form">
			        <div class="field">
			            <textarea v-model="comment" placeholder="与原作者一较高下、或者夸奖一下作者"></textarea>
			        </div>
			        <div class="ui blue labeled submit icon button" @click="postcomment('<%- id %>')">
			            <i class="icon edit"></i> 添加回复
			        </div>
			    </form>
			</div>
		<% }else{ %>
			<h3><%- msg %></h3>
			<div class="ui yellow message">
				<p>原因可能有以下集中情况:</p>
				<ul>
					<li>刚被作者删掉...</li>
					<li>信息违规，被『<%= title %>』删掉...</li>
					<li>不巧, 我们的服务坏了...</li>
					<li>开发者没钱提供服务了... ಥ_ಥ</li>
				</ul>
			</div>
		<% } %>
	</div>

	<div class="ui basic modal qrcode-modal">
	    <i class="close icon"></i>
	    <div class="header">分享二维码</div>
	    <div class="image content">
	    	<div class="ui medium image">
		    	<img src="http://s.jiathis.com/qrcode.php?url=http://write.freelion.me/write/<%- id %>" alt="">
		    </div>
	        <div class="description">
	        	<p>想必你一定很喜欢 『 <%- title %> 』</p>
	        	<p>那就分享给你的好朋友吧~</p>
	        </div>
	    </div>
	    <div class="actions">
	        <div class="ui positive right labeled icon button">
	            分享出去了~
	            <i class="checkmark icon"></i>
	        </div>
	    </div>
	</div>
	<script>

		$(function(){
			$.get('/api/v1/views/<%- data.id %>');
			new Vue({
				el: '#show-wrap',
				data: {
					comment: '',
					comments: [<%- comments %>],
					like: <%- likes %>,
					lasttime: new Date().getTime(),
					status: false,
					message: '',
					cc: {
						'by-nc-nd': '署名-非商业使用-禁止演绎',
						'by-nc-sa': '署名-非商业性使用-相同方式共享',
						'by-nc': '署名-非商业性使用',
						'by-nd': '署名-禁止演绎',
						'by-sa': '署名-相同方式共享',
						'by': '署名'
					}
				},
				methods: {
					qrcode: function(){
						$('.qrcode-modal').modal({blurring: true}).modal('show');
					},
					postcomment: function(id){
						var _t = this;
						var isLogin = <%- isLogin %>;
						if( !isLogin ){
							window.location.href = '/login';
							return false;
						}
						if( _t.comment != '' ){
							$.post('/api/v1/events',{
								"author": '<%- data.userid %>',
								"articleid" : id,
								"action" : "comment",
								"comment" : _t.comment
							},function(res){
								_t.comments = res.data;
								// 清空留言框
								_t.comment = '';
								location.hash = '#comments-box';
							})
						}else{
							_t.message = '行走江湖，讲究诚信...要认真填写哦~';
							return false;
						}
					},
					likes: function(id){
						var _t = this;
						var isLogin = <%- isLogin %>;
						if( !isLogin ){
							window.location.href = '/login';
							return false;
						}
						$.post('/api/v1/events',{
							"author": '<%- data.userid %>',
							"articleid" : id,
							"action" : "likes"
						},function(res){
							if(res.code == 0){
								layer.msg('阁下的喜爱之情，作者已明了~');
								return false;
							}
							_t.like = res.data.length;
							layer.msg('感谢阁下的喜爱');
						})
					},
					closeMsg : function(){
						this.message = '';
					}
				}
			})
		});
	</script>
</div>
<%- include('footer'); %>