<%- include('header'); %>
<div class="main">
    <div class="list-wrap" id="show-wrap">
    	<% if(code){ %>
    		<h1 class="text-center">『 <%= data.title %> 』</h1>
	    	<div class="ui fluid card block-view">
		        <div class="content">
		            <p><%- data.content %></p>
		        </div>

		        <div class="extra content">
					
					<a href="/u/<%- data.userid %>">
		        		<i class="icon write"></i><%- data.user.username %>
		        	</a>
		        	<a href="javascript:;">
		            	<i class="history icon"></i> <%- data.createdAt %>
		            </a>
		        	
		        	<a class="right floated created" href="javascript:;" @click="qrcode()">
		        		<i class="icon share alternate"></i>分享
		        	</a>
		        	<a class="right floated created" href="javascript:;">
		        		<i class="icon comment"></i> <%- comments.length %>
		        	</a>
		        </div>
			</div>

			<div class="ui comments" id="comments-box">
			    <h4 class="ui horizontal header divider">
				    <i class="comments icon"></i>
				    评论
				</h4>
			    <% comments.forEach(function(item){ %>
			    <div class="comment">
			        <a class="avatar">
			            <img src="http://www.cyzone.cn/uploadfile/avatar/000/35/35/31_avatar_middle.jpg">
			        </a>
			        <div class="content">
			            <a class="author"><%- item.user.username %></a>
			            <div class="metadata">
			                <span class="date">留言于 <%- item.date %></span>
			            </div>
			            <div class="text">
			                <%- item.comment %>
			            </div>
			        </div>
			    </div>
			    <% }) %>
			    <form class="ui reply form">
			        <div class="field">
			            <textarea v-model="comment" placeholder="与原作者一较高下、或者夸奖一下作者"></textarea>
			        </div>
			        <div class="ui blue labeled submit icon button" @click="postcomment('<%- id %>')">
			            <i class="icon edit"></i> 添加回复
			        </div>
			    </form>
			</div>
		<% }else{ %>
			<h3><%- msg %></h3>
			<div class="ui yellow message">
				<p>原因可能有以下集中情况:</p>
				<ul>
					<li>刚被作者删掉...</li>
					<li>信息违规，被『<%= title %>』删掉...</li>
					<li>不巧, 我们的服务坏了...</li>
					<li>开发者没钱提供服务了... ಥ_ಥ</li>
				</ul>
			</div>
		<% } %>
	</div>

	<div class="ui basic modal qrcode-modal">
	    <i class="close icon"></i>
	    <div class="header">分享二维码</div>
	    <div class="image content">
	    	<div class="ui medium image">
		    	<img src="http://s.jiathis.com/qrcode.php?url=http://write.freelion.me/write/<%- id %>" alt="">
		    </div>
	        <div class="description">
	        	<p>想必你一定很喜欢<%- title %></p>
	        	<p>那就分享给你的好朋友吧~</p>
	        </div>
	    </div>
	    <div class="actions">
	        <div class="ui positive right labeled icon button">
	            分享出去了~
	            <i class="checkmark icon"></i>
	        </div>
	    </div>
	</div>
	<script>
		$(function(){
			$('.segment').dimmer('show');

			new Vue({
				el: '#show-wrap',
				data: {
					comment: '',
					comments: [],
					lasttime: new Date().getTime()
				},
				methods: {
					qrcode: function(){
						$('.qrcode-modal').modal({blurring: true}).modal('show');
					},
					postcomment: function(id){
						var _t = this;
						var isLogin = <%- isLogin %>;
						if( !isLogin ){
							window.location.href = '/login';
							return false;
						}
						if(new Date().getTime() - this.lasttime >= 10000){
							$.post('/api/v1/comment',{
								"articleid" : id,
								"action" : "comment",
								"comment" : _t.comment
							},function(res){
								window.location.reload();
							})
						}
					},
					share : function(){

					}
				}
			})
		});
	</script>
</div>
<%- include('footer'); %>