<%- include('../header'); %>
<div class="main">
	<h2>
	    <i class="alarm outline icon"></i>
	    <%= title %>
	</h2>
	<div class="ui feed event-list">
		<% events.forEach(function(item){ %>
			<div class="event">
				<div class="content">
					<div class="summary">
						<a class="user" href="/u/<%- item.user.id %>"><%- item.user._serverData.username %></a>
						<%- (item.action=='comment'?'发表留言于这篇':'喜欢了这篇') %>
						<a href="/write/<%- item.article.id %>">《<%- item.article._serverData.title %>》</a>
						
						<div class="date"><%- item.date %></div>
					</div>
				</div>
			</div>
		<% }); %>
	</div>
</div>
<script type="text/javascript">
	var likes = '<%- JSON.stringify(events) %>';
	console.log(likes);
</script>
<%- include('../footer'); %>