<%- include('../header'); %>
<div class="main user-main">
	<div class="ui small message" v-if="action">
    	<i class="close icon" @click="closeMsg()"></i>
    	<div v-html="msg[action].replace('您',' <%- userInfo.username %> ')"></div>
    </div>

	<div class="ui green inverted menu">
	    <a class="active item">
	        <i class="home icon"></i> 主页
	    </a>
	    <a class="item">
	        <i class="alarm outline icon"></i> 与我有关
	    </a>
	    <a href="/user/update" class="item">
	        <i class="child icon"></i> 设置
	    </a>
	    <a class="item right floated">
	    	{{userInfo.username}}
	    </a>
	</div>

	<div class="ui three statistics count-box">
		<div class="red statistic">
			<div class="value"><%- count %></div>
			<div class="label">篇诗词</div>
		</div>
		<div class="orange statistic">
			<div class="value"><%- likeNum %></div>
			<div class="label">人喜欢</div>
		</div>
		<div class="yellow statistic">
			<div class="value"><%- commentNum %></div>
			<div class="label">条评论</div>
		</div>
	</div>

	
	<table class="ui green celled striped table">
		<thead>
			<tr>
				<th>标题</th>
				<th>编辑</th>
				<th>分享</th>
			</tr>
		</thead>	
	    <tbody>
	    	<% list.forEach(function(item){ %>
	        <tr>
	            <td>
	                <%- item._serverData.title %>
	            </td>
	            <td>
	                <div class="ui button">
	                	<i class="edit icon"></i>修改
	                </div>
	            </td>
	            <td>
	                <div class="ui button">
	                	<i class="share alternate icon"></i>分享
	                </div>
	            </td>
	        </tr>
	        <% }) %>
	    </tbody>
	</table>

	
	<script>
		var userInfo = '<%- JSON.stringify(userInfo) %>';
		new Vue({
			el : '.main',
			data : {
				action : '<%- action %>',
				username : '<%- userInfo.username %>',
				userInfo: JSON.parse(userInfo),
				msg : {
					login : '欢迎您回归到 『 <%= website %> 』的世界...',
					signup : '很高兴您注册成为 『 <%= website %> 』 的新用户'
				}
			},
			methods : {
				closeMsg : function(){
					this.action = '';
				}
			}
		})
	</script>
</div>
<%- include('../footer'); %>