<%- include('../header'); %>
<div class="main">
	<h2><%= title %></h2>
    <form class="ui form" id="update-user">
    	<div class="ui small message" v-bind:class="[status?'green':'yellow']" v-if="message">
	    	<i class="close icon" @click="closeMsg()"></i>
	    	<div v-html="message"></div>
	    </div>
	    <div class="two fields">
	        <div class="field">
	            <label>昵称</label>
	            <input type="text" name="first-name" v-model="username" placeholder="昵称">
	        </div>
	        <div class="field">
	            <label>性别</label>
	            <div class="ui fluid dropdown dropdown-sex">
	                <div class="ui basic button fluid toggle-btn" @click="toggle()">
						{{ sex>0 ? (sex%2==1 ? '才华横溢的公子' : '秀外慧中的千金') : '身份未明' }}
					</div>
	                <div class="menu">
	                    <div class="item" @click="selectSex(1,'公子')">
	                    	<i class="icon male"></i> 才华横溢的 <%- userInfo.username %> 公子
	                    </div>
	                    <div class="item" @click="selectSex(2,'千金')">
	                    	<i class="icon female"></i> 秀外慧中的 <%- userInfo.username %> 小姐
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="two fields">
	        <div class="twelve wide field">
	            <input type="email" v-model="email" placeholder="邮箱">
	        </div>
	        <div class="four wide field">
	            <div class="ui fluid button" v-bind:class="[email?'teal':'disabled']" v-disabled="email" @click="setpass">重置密码</div>
	        </div>
	    </div>
	    <div class="field">
	        <label>作者简介</label>
	        <textarea v-model="description"></textarea>
	    </div>
	    <div class="field">
	        <div class="ui checkbox">
	            <input type="checkbox" name="public" v-model="public">
	            <label>是否公开发表</label>
	        </div>
	    </div>
	    <div class="ui fluid green button" @click="submit()">更新</div>

	</form>
	<script type="text/javascript">
		$(function(){

			var updateUserInfo = new Vue({
				el : '#update-user',
				data : {
					username : '<%- userInfo.username %>',
					sex : <%- userInfo.sex %>,
					email : '<%- userInfo.email %>',
					description: '<%- userInfo.description %>',
					public : <%- userInfo.public %>,
					message: '',
					status: true
				},
				methods : {
					toggle : function(){
						$('.dropdown-sex').dropdown();
					},
					selectSex : function(sex){
						this.sex = sex;
					},
					closeMsg : function(){
						this.message = '';
					},
					setpass: function(){
						var _t = this;
						$.post('/api/v1/setpasswd',{
							"email" : _t.email
						},function(res){
							layer.open({
								title: '重置密码成功',
								content: '点击按钮前往邮箱，点击邮件中的链接修改密码',
								btn: ['前往邮箱'],
								yes: function(){

									// 修改密码及时退出
									$.get('/user/logout');

									var emailArr = _t.email.split('@');
									emailArr[0] = 'http://mail.';

									window.location.href = emailArr.join("");
								}
							}); 
						})
					},
					submit : function(){
						var _t = this;
						$.post('/api/v1/update_user',{
							"username" : _t.username,
							"email" : _t.email,
							"sex": _t.sex,
							"description": _t.description,
							"public": _t.public
						},function(res){
							if( res.data.objectId ){
								_t.message = '更新成功...'
								_t.status = true;
								setTimeout(function(){
									window.location.href = '/user/index';
								},2000)
							}
						})
					}
				}
			})
		})
	</script>
</div>
<%- include('../footer'); %>